/* Variables de animación y estilos base */
:root {
  --duration-gradient: 15s;
  --duration-twinkle: 2s;
  --duration-float: infinite;
}

html, body {
  overflow-x: hidden;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  scroll-behavior: smooth;
  max-width: 100%;
  height: auto;
  background-color: rgb(25, 0, 29);
}


.cursor {
  
}